ExpandoSoap.Tests/TestData/Example.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.org/MovieService/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="MovieService"
                  targetNamespace="http://example.org/MovieService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.org/MovieService/">
      <xsd:element name="Movie">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Title" type="xsd:string"/>
            <xsd:element name="Director" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Movies">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Movie" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddMovie">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Movie" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddMovieResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Movie" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddMovieRequest">
    <wsdl:part name="parameters" element="tns:AddMovie"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddMovieResponse">
    <wsdl:part name="parameters" element="tns:AddMovieResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MovieService">
    <wsdl:operation name="AddMovie">
      <wsdl:input message="tns:AddMovieRequest"></wsdl:input>
      <wsdl:output message="tns:AddMovieResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieServiceSOAP" type="tns:MovieService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddMovie">
      <soap:operation
              soapAction="http://example.org/MovieService/AddMovie"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port binding="tns:MovieServiceSOAP" name="MovieServiceSOAP">
      <soap:address location="http://www.example.org/MovieService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>